.donate {
  margin-top: 10px;
  background-color: #82cf8f;
  border-radius: 20px;
  border-width: 0;
}

.project-progress-bar {
  height: 10px;
  background-color: #e6f5e9;
  .progress-bar {
    background-color: #82cf8f;
  }
}
