#brand-name {
  font-size: x-large;
  color: #fff;
  background-color: #82cf8f;
  border-radius: 50%;
  width: 48px;
  padding-left: 14px;
  font-weight: 500;
}
.header-link {
  color: black;
  font-weight: 400;
}

.your-list {
  margin-right: 10px;
}
.count {
  width: 25px;
  background-color: #82cf8f;
  border-radius: 50%;
  padding-left: 8px;
  color: #fff;
  font-weight: 600;
}
.user {
  margin-right: 15px;
  border-radius: 5px;
}
.chat {
  margin-right: 20px;
}
